@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Nunito:wght@300&display=swap');
/* Fonte geral */
*{
    font-family: 'Nunito', sans-serif;
}
/* Span hero */
.hero, .title{
    color: #adff2f;
    font-family: 'Fredoka One', cursive;
}

.pb-2, .titleFeature {
    color: #344c0e;
}

.btn-custom{
    background-color: #344c0e;
    color: white;
}

.btn-custom:hover{
    background-color: #172206;
    color: white;
}

/* BG CLASSE ESTILIZACAO */
.bg-principal{
    background-image: url("../images/background-img.jpg");
    background-size: cover;
}