@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Nunito:wght@300&display=swap');
/* Fonte geral */
*{
    font-family: 'Nunito', sans-serif;
}
/* Span hero */
.hero, .title{
    color: greenyellow;
    font-family: 'Fredoka One', cursive;
}