@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Nunito:wght@300&display=swap');
/* Fonte geral */
*{
    font-family: 'Nunito', sans-serif;
}
/* Span hero */
.hero, .title{
    color: #adff2f;
    font-family: 'Fredoka One', cursive;
}

.pb-2, .titleFeature {
    color: #344c0e;
}

.btn-custom{
    background-color: #344c0e;
    color: white;
}

.btn-custom:hover{
    background-color: #172206;
    color: white;
}
.div-img-texto{
    display: flex;
    flex-direction: column;

}
.img-texto{
    width: 400px;
    height: 400px;
    border-style: solid;
    padding: 0 0 1px;
}
.img-textoUltimo{
    width: 400px;
    height: 400px;
    border-style: solid;
}

.topicos {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #182502;
}

/* BG CLASSE ESTILIZACAO */
.bg-principal{
    background-image: url("../images/background-img.jpg");
    background-size: cover;

}
.bg-principalAgroResid{
    background-image: url("../images/RevitAgro.jpg");
    background-size: cover;
}
.bg-principalBioCred{
    background-image: url("../images/RevitAgro.jpg");
    background-size: cover;
}
.bg-principalRevitAgro{
    background-image: url("../images/RevitAgro.jpg");
    background-size: cover;
}
